<section>
  <h1>Datos almacenados</h1>
  <div class="tbl-header">
    <table cellpadding="0" cellspacing="0" border="0">
      <thead>
        <tr class="tr-h">
          <th>Codigo</th>
          <th>Nombre</th>
          <th>Precio</th>
          <th>Imagen</th>
        </tr>
      </thead>
    </table>
  </div>
  <div class="tbl-content">
    <table cellpadding="0" cellspacing="0" border="0">
      <tbody>
        {{#if productos}}
        {{#each productos}}
        <tr>
          <td> {{this.id}}</td>
          <td> {{this.nombre}}</td>
          <td> {{this.precio}}</td>
          <td><img src="{{this.url}}" alt="{{this.nombre}}"></td>
        </tr>
        {{/each}}
        {{else}}
        <tr>
          <td>No hay datos</td>
        </tr>
        {{/if}}
      </tbody>
    </table>
  </div>
</section>
<div class="btn-f">
			<a href="/"> FORMULARIO </a>                                   
	</div> 