<section>
  <h1>Datos almacenados</h1>
  <div class="tbl-header">
    <table cellpadding="0" cellspacing="0" border="0">
      <thead>
        <tr class="tr-h">
          <th>Codigo</th>
          <th>Nombre</th>
          <th>Precio</th>
          <th>Imagen</th>
        </tr>
      </thead>
    </table>
  </div>
  <div class="tbl-content">
    <table cellpadding="0" cellspacing="0" border="0">
      <tbody>
        <% if (productos.length === 0) { %>
        <tr>
          <td>No hay datos</td>
        </tr>
        <% }else{        
          for (let item = 0; item < productos.length; item++) 
          { %>
        <tr>
          <td><%=productos[item].id%></td>
          <td><%=productos[item].nombre%></td>
          <td><%=productos[item].precio%></td>
          <td><img src="<%=productos[item].url%>" alt="<%=productos[item].nombre%>"></td>
        </tr>
        <% } 
      } 
  %>
      </tbody>
    </table>
  </div>
</section>
<div class="btn-f">
  <a href="/"> FORMULARIO </a>
</div>